<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Azure.KeyVault.Uri" value="https://vwzdgctm7ywb6.vault.azure.net/" />
    <add key="Microsoft.Azure.AD.Application.ClientId" value="fb4fbba5-6fac-404e-b7b6-d7bf4b56a7ea" />
    <add key="Microsoft.Azure.AD.Application.ClientSecret" value="MIIBvQYJKoZIhvcNAQcDoIIBrjCCAaoCAQAxggFOMIIBSgIBADAyMB4xHDAaBgNVBAMTE2F6dXJlLWtleXZhdWx0LWRlbW8CEEilhJ3CxxOhQGFWdRaUCMwwDQYJKoZIhvcNAQEBBQAEggEAOSk7ppLRW8XQDcatbNMg75qauPD4oil/Iy6OHjo2zNCo4bSiTdy2JIe1tRpZfLb7OkN/Rre5SZLW4dKOhwp27BnrhNRz7d1kzAG2Ld3D07/L2HINaCPDCmwWoCI/d/ENyh7PHMg07pcxtzBpfUVuwfRm//0TXtadPtUnQ0IJv66fHotr/ABur3it7FhqVf5/DLXBAf6veMEHS5mN6+P1vziAFrVOsxNsICP2Y71PdimckDtdNEPg8+rDzuB1/EYk5fa+qFwNIzGGu8QgNy/z88GH1OvKseKTpDw5iYqrKcq7PLjnWHr/w/tbToh6j0D2X+dB4ehbgMoW7F1HIzbrGzBTBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECJ4/8uSahbrkgDDuZfV3HXZl1NJBtMD1ghgmUoQSDAZjBF9/HUNJTt6nAmuKtyyeXCu2alqoNpAxmig=" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>
</configuration>
